/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 25em;
	width: 60%;
	float: left;
	border: 1px solid #999;
}


/*
 * LAYOUT
 */
#options,
#rides {
	width: 40%;
	margin-left: 60%;
	border: 1px solid #999;
	padding: 1em;
}
#tabs {
	text-align: center;
}


/*
 * LISTS
 */
#rides ul {
	list-style: none;
}

#rides li {
	border-bottom: 1px solid #ccc;
}
#rides li span {
	margin-right: 1em;
}
.athlete {
	
}
.avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}


/*
 * FORM ELEMENTS
 */
a[name=options] {
	font-weight: bold;
}
a[name=options]:hover {
	cursor: pointer;
}
input {
	display: inline;
}
label {
	display: inline;
}


/*
 * MAP TOOLTIP
 */
.tooltip {
	position: fixed;
	min-width: 25%;
	min-height: 4em;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: 0px 0px 1px 2px rgba(90,90,90,0.3);
	background: #ffffff;
	border: 1px solid #666;
}
.tooltip:after, .tooltip:before {	/* For the little triangle */
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	top: 100%;
	left: 50%;
	border: solid transparent;
	pointer-events: none;
}
.tooltip:after {	/* Creates the lower triangle body */
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.tooltip:before {	/* Creates the border around the triangle */
	border-color: rgba(102, 102, 102, 0);
	border-top-color: #666;
	border-width: 11px;
	margin-left: -11px;
}
.tooltip h6 {
	font-weight: bold;
}
.tooltip img {
	float: right;
}
.tooltip .close {
	position: absolute;
	top: 5px;
	right: 5px;
	font-weight bold;
	color: #999;
}
.tooltip .close:hover {
	cursor: pointer;
	color: #000;
}